<div class="card">
  <div class="card-body">
    <h4>{{getChartTitle}}</h4>
    <div style="display: block">
      <canvas
        baseChart
        [labels]="polarAreaChartLabels"
        [data]="polarAreaChartData"
        [legend]="polarAreaLegend"
        [type]="polarAreaChartType"
      >
      </canvas>
    </div>
  </div>
</div>
