<div class="container">

  <div class="container">
    <div class="row row-cols-2">
      <div class="col"><app-chart [getChartTitle]="chartTitle1"></app-chart></div>
      <div class="col"><app-chart [getChartTitle]="chartTitle2"></app-chart></div>

    </div>
  </div>


</div>
